@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color: #374151;
    --off-white: #F3F4F6;
    --dark-grey: #9CA3AF;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 5rem;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding: 0rem 1rem;
}

.centered-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.link {
    padding: 0.5rem 1rem;
    
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
    display: inline-block;
    margin: 0.5rem;

}

.link-secondary {
    color: var(--primary-color);
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    display: inline-block;
    margin: 0.5rem;
}